@model Nimap_Product_Test.Models.CategoryDM 
@{
    ViewBag.Title = "BindCategoryByID";
}


<div class="container">
    <h2>Add New Category</h2>
    <div class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Category Name:</label>
            <div class="col-sm-10">
                <input type="hidden" id="CategoryId" value="@Model.CategoryId" />
                <input type="text" class="form-control" id="Category" value="@Model.CategoryName" placeholder="Enter Category" name="Category">
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="SaveCategory" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $("#SaveCategory").click(function () {
        var catObj = {
            CategoryName: $('#Category').val(),
            CategoryId: $('#CategoryId').val(),

        };
        $.ajax({
            url: "/Category/UpdateCategory",
            data: JSON.stringify(catObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                if (result == 1) {
                    alert("Category save sucessfully!")
                    $('#Category').val("");
                }


            }
        });


    });

</script>



